/* app css stylesheet */
#taskList .strike {
  text-decoration: line-through;
}

#taskList .description {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
    cursor: pointer;
}

#taskList input {
    margin-right: 10px;
}

#taskList button {
    float: right;
    margin-top: 5px;
    font-size: 13px;
    visibility:hidden;
}

#taskList .list-group-item:hover button {
    visibility: visible;
}

#taskList .list-group-item:hover {
    cursor: pointer;
    background-color: gray;
}