<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Punch List App</title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>

<body ng-app="punchlistApp" ng-controller="punchlistController" class="container">

  <div class="row-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>What to do next?</h1>

        <form ng-submit="addPunch()">
          <div class="input-group input-group-lg">
            <input type="text" ng-model="newTask" class="form-control input-lg" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-lg">Add Punchlist Item</button>
            </span>
          </div>
        </form>
      </div>
      <br/>

      <div id="taskList" class="list-group">
        <div ng-repeat="task in taskList">
          <label class="description" ng-class="{strike: task.done}">
            <input type="checkbox" ng-model="task.done" /> {{task.description}}
          </label>
          <button ng-click="deletePunch($index)">Remove</button>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
</body>

</html>